<html lang="en"><head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}Benjamin's blog{% endblock %}</title>

    <!-- Bootstrap core CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'base.css' %}">
  </head>
  <body>

    <header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'home' %}">Benjamin Lombard</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
      <a class="nav-item nav-link" href="https://twitter.com/pytlin">Twitter</a>
      <a class="nav-item nav-link" href="https://benjlombard.github.io/">Portfolio</a>
      <a class="nav-item nav-link active" href="{% url 'blog:allblogs' %}">Blog</a>
        <a class="nav-item nav-link" href="{% url 'blog:post_feed' %}">RSS Feed</a>
    </div>
  </div>
</nav>
</header>

<main role="main">

{% block head %}
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Hi, I'm Benjamin.</h1>
      <p class="lead text-muted">Hey, my name is Benjamin Lombard and I love to make Django websites. It's the thrill of handling the requests that the people want!</p>
      <p>
        <a href="mailto:pytlin@protonmail.com" class="btn btn-primary my-2">Email me</a>
          </p>
          <img src="{% static '01net.jpeg' %}" height="300" alt="">

    </div>
  </section>

{% endblock %}

  <div class="album py-5 bg-light">
    <div class="container">



    {% block content %}

    {% endblock %}

    </div>

  </div>
</main>



    <!-- Footer -->
<footer class="page-footer font-small special-color-dark bg-dark pt-2">

    <!-- Footer Elements -->
    <div class="container">

      <!-- Social buttons -->
      <ul class="list-unstyled list-inline text-center">
        <li class="list-inline-item">
          <a class="btn-floating btn-tw mx-1" href="https://twitter.com/pytlin">
            <i class="fab fa-2x fa-twitter"> </i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn-floating btn-li mx-1" href="https://www.linkedin.com/in/benjamin-lombard-41667816b/">
            <i class="fab fa-2x fa-linkedin-in"> </i>
          </a>
        </li>
            <li class="list-inline-item">
          <a class="btn-floating btn-li mx-1" href="https://github.com/benjlombard">
            <i class="fab fa-2x fa-github"> </i>
          </a>
        </li>
          <li class="list-inline-item">
          <a class="btn-floating btn-li mx-1" href="https://stackoverflow.com/users/11175386/pytlin2718">
            <i class="fab fa-2x fa-stack-overflow"> </i>
          </a>
        </li>
        </li>
          <li class="list-inline-item">
          <a class="btn-floating btn-li mx-1" href="{% url 'blog:post_feed' %}">
            <i class="fab fa-2x fa-rss-square" aria-hidden="true"> </i>
          </a>
        </li>


      </ul>
      <!-- Social buttons -->

    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
      <p>&copy; Benjamin Lombard {%  now "Y" %}</p>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->


         <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
<script>
    // When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    document.getElementById("myBtn").style.display = "block";
  } else {
    document.getElementById("myBtn").style.display = "none";
  }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
  document.body.scrollTop = 0; // For Safari
  document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
}
</script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body></html>
