{% extends '../base.html' %}



{% block head %}
{% endblock %}

    {% block content %}
<h1 class="text-center pt-3">Welcome to Benjamin's blog</h1>
    <br />
    <br />
    <h2>Latest Posts</h2>
        <hr />



    <div class="row">
           {% for blog in blogs %}
        <div class="col-md-4">
         <a href="{{ blog.get_absolute_url }}"><h3>{{ blog.title }}</h3></a>
            {{ blog.pub_date_pretty}}
          <br />
          <div class="card mb-4 shadow-sm">
            <!--<svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><img src="{{ job.image.url }}" alt=""></svg>-->
              <img class="bd-placeholder-img card-img-top img-thumbnail" height="200" src="{{ blog.image.url }}" />
            <div class="card-body">
              <p class="card-text">{{ blog.summary }}</p>
            </div>
          </div>
        </div>
        {% endfor %}

        </div>
        <br>
        <br>

        {% include "../pagination.html" with page=blogs %}


    {% endblock %}






